<div mat-dialog-title class="text-gray-700 font-bold text-xl">Modificar encuestador</div>
<mat-dialog-content class="mat-typography row">
    <ng-container *ngIf="encuestador">
        <div class="text-gray-500 text-xl">
            Tipo de documento
        </div>
        <select name="tipoDocumento" [(ngModel)]="encuestador.tipo_documento" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
            <option *ngFor="let tipoDocumento of tiposDocumentos" [value]="tipoDocumento.id">{{tipoDocumento.nombre}}</option>
        </select>
        <div class="text-gray-500 text-xl">
            Numero de documento
        </div>
        <input name="numeroDocumento" [(ngModel)]="encuestador.numero_documento" type="number" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Primer Nombre
        </div>
        <input name="primerNombre" [(ngModel)]="encuestador.primer_nombre" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Segundo nombre
        </div>
        <input name="segundoApellido" [(ngModel)]="encuestador.segundo_nombre" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Primer apellido
        </div>
        <input name="primerApellido" [(ngModel)]="encuestador.primer_apellido" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Segundo apellido
        </div>
        <input name="segundoApellido" [(ngModel)]="encuestador.segundo_apellido" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Fecha de nacimiento
        </div>
        <input name="fechaNacimiento" [(ngModel)]="encuestador.fecha_nacimiento" type="date" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Barrio
        </div>
        <input name="barrio" [(ngModel)]="encuestador.barrio" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Dirección
        </div>
        <input name="direccion" [(ngModel)]="encuestador.direccion" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Numero de teléfono
        </div>
        <input name="numeroTelefono" [(ngModel)]="encuestador.numero_telefono" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
        <div class="text-gray-500 text-xl">
            Numero de celular
        </div>
        <input name="numeroCelular" [(ngModel)]="encuestador.numero_celular" type="text" class="border-gray-400 border-2 placeholder-primary-300 w-full rounded-xl px-2">
    </ng-container>
</mat-dialog-content>
<mat-dialog-actions class="flex justify-end">
    <button type="button" class="bg-gray-300 text-white p-2 mx-2 rounded-xl border-gray-300 border-2" [mat-dialog-close]="">Cerrar</button>
    <button type="button" class="bg-green-700 text-white p-2 mx-2 rounded-xl border-gray-300 border-2" [mat-dialog-close]="">Modificar encuestador</button>
</mat-dialog-actions>
