.background{
    background-attachment: fixed;
    background-size: cover;
    background-image: url('http://localhost:4200/assets/images/background/bg-login.png');
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 100%;
}


